#map {
    height: 90vh;
}

h2 {
    font-weight: normal;
    font-size: 100%;
    margin: 0.5rem 0;
}
h3 {
    font-size: 120%;
    margin: 0.5rem 0;
}

.party {
    height: 1.5rem;
    min-width: 400px;
}
.party p {
    vertical-align: top;
    margin: 0.5rem 0;
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
}
.party .partyname {
    width: 11rem;
    text-align: right;
    padding-right: 0.5rem;
    overflow: hidden;
}
